name: 3일마다 수집기 실행

on:
  schedule:
    - cron: '0 0 */3 * *' # 3일에 한 번 자동 실행
  workflow_dispatch:      # 수동 실행 버튼

jobs:
  run-scraper:
    runs-on: ubuntu-latest
    steps:
      - name: 코드 가져오기
        uses: actions/checkout@v3

      - name: 파이썬 설치
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: 도구 설치
        run: pip install requests feedparser

      - name: 실행
        env:
          NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
          NOTION_DATABASE_ID: ${{ secrets.NOTION_DATABASE_ID }}
        run: python main.py
